# Log files
logs/
app_start.log
*.log

# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.pyc

# Database file
backend/*.db
!backend/database.db-example

# Environment variables
.env
